# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Firebase config, written by CI from the GOOGLE_SERVICES_JSON_BASE64 secret
app/google-services.json
